.cont{
    width:100%;
    position:relative;
    background-color: #eee;


}
#t{
    direction:rtl;
    text-align: center;width: 77%;
    position:absolute;
    right:22%;
    border-radius: 10px;

}

